@import "tailwindcss";

@theme inline {
	--animate-first: moveVertical 30s ease infinite;
	--animate-second: moveInCircle 20s reverse infinite;
	--animate-third: moveInCircle 40s linear infinite;
	--animate-fourth: moveHorizontal 40s ease infinite;
	--animate-fifth: moveInCircle 20s ease infinite;

	@keyframes moveHorizontal {
		0% {
			transform: translateX(-50%) translateY(-10%);
		}
		50% {
			transform: translateX(50%) translateY(10%);
		}
		100% {
			transform: translateX(-50%) translateY(-10%);
		}
	}

	@keyframes moveInCircle {
		0% {
			transform: rotate(0deg);
		}
		50% {
			transform: rotate(180deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}

	@keyframes moveVertical {
		0% {
			transform: translateY(-50%);
		}
		50% {
			transform: translateY(50%);
		}
		100% {
			transform: translateY(-50%);
		}
	}
}

@theme inline {
	--animate-aurora: aurora 60s linear infinite;
	@keyframes aurora {
		from {
			background-position: 50% 50%, 50% 50%;
		}
		to {
			background-position: 350% 50%, 350% 50%;
		}
	}
}

.no-visible-scrollbar {
	scrollbar-width: none;
	-ms-overflow-style: none;
	-webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
	display: none;
}

.glass {
	background: linear-gradient(
		135deg,
		rgba(255, 255, 255, 0.1),
		rgba(255, 255, 255, 0.05)
	);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 36px;
}

.aboutGradient {
	background: linear-gradient(360deg, #702e66, #201139, #000000);
}

#card:hover {
	transform: translateY(-2px);
	transition: all 0.3s ease;
}

.contactSectionLinks:hover {
	text-decoration: underline;
	transform: translateY(-2px);
	transition: all 0.3s ease;
}

/* CSS Animation for Gradient Background */
@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Tailwind Approach */
.animated-gradient {
	background: linear-gradient(135deg, #8a2be2, #ff00ff, #1e90ff, #00bfff);
	background-size: 400% 400%;
	animation: gradient-animation 20s ease infinite;
}
